In [1]:
#import dependencies
import pandas as pd

In [2]:
#import file (path may be different than one below)
df = pd.read_csv ('../vine_table.csv')
df.head(10)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R1KKOXHNI8MSXU,4.0,0.0,0.0,N,Y
1,R26SP2OPDK4HT7,5.0,1.0,2.0,N,Y
2,RWQEDYAX373I1,5.0,0.0,0.0,N,Y
3,R231YI7R4GPF6J,5.0,0.0,0.0,N,Y
4,R3KO3W45DD0L1K,5.0,0.0,0.0,N,Y
5,R1C4QH63NFL5NJ,5.0,0.0,0.0,N,Y
6,R2GP65O1U9N7BP,5.0,0.0,0.0,N,Y
7,R3O29CT5MQQ3XQ,4.0,0.0,0.0,N,Y
8,R1ZECD2AA8QFF6,5.0,0.0,0.0,N,Y
9,R2S79GCF6J89OA,3.0,0.0,0.0,N,Y

### 1. Create new dataframe where total_votes is equal or greater than 20

In [29]:
total_votes_df = df.loc[df['total_votes'] >= 20]
total_votes_df.head(10)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
211,R35PT06NWP7LDP,5.0,30.0,32.0,N,N
344,R2P76PJFUGXBHO,1.0,6.0,45.0,N,N
372,RQW4AFOG9MR4Z,5.0,51.0,52.0,N,N
406,R2SMUEBMGLAJQK,5.0,29.0,36.0,N,Y
408,R1XVIZZALU5P6J,5.0,148.0,150.0,N,Y
419,R11UFMG8M2488I,4.0,23.0,26.0,N,N
548,R2OSHKSPXU68W5,5.0,136.0,147.0,N,N
595,R3M02FSD3BLUPU,5.0,19.0,21.0,N,N
701,R1P0LEEJHH09L3,5.0,32.0,32.0,N,Y
749,R1V6UU1EHW3Q12,5.0,57.0,62.0,N,Y

### 2. Create new dataframe from step 1 where helpful_votes divided by total_votes is equal to or greater than 50%

In [32]:
total_votes_df['helpful_votes_percent'] = total_votes_df['helpful_votes'] / total_votes_df['total_votes']
high_helpful_votes_df = total_votes_df.loc[total_votes_df['helpful_votes_percent'] >= .5]
high_helpful_votes_df.head(10)

/var/folders/23/zl9yqn5x13dgspnwvqxkrvz40000gp/T/ipykernel_12513/3137480267.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  total_votes_df['helpful_votes_percent'] = total_votes_df['helpful_votes'] / total_votes_df['total_votes']

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,helpful_votes_percent
211,R35PT06NWP7LDP,5.0,30.0,32.0,N,N,0.937500
372,RQW4AFOG9MR4Z,5.0,51.0,52.0,N,N,0.980769
406,R2SMUEBMGLAJQK,5.0,29.0,36.0,N,Y,0.805556
408,R1XVIZZALU5P6J,5.0,148.0,150.0,N,Y,0.986667
419,R11UFMG8M2488I,4.0,23.0,26.0,N,N,0.884615
548,R2OSHKSPXU68W5,5.0,136.0,147.0,N,N,0.925170
595,R3M02FSD3BLUPU,5.0,19.0,21.0,N,N,0.904762
701,R1P0LEEJHH09L3,5.0,32.0,32.0,N,Y,1.000000
749,R1V6UU1EHW3Q12,5.0,57.0,62.0,N,Y,0.919355
823,R230W87COFSTCL,5.0,21.0,21.0,N,Y,1.000000

### 3. Create new dataframe from step 2 where a review was written as part of the Vine program (paid), vine == 'Y'

In [33]:
paid_review_df = high_helpful_votes_df.loc[high_helpful_votes_df['vine'] == 'Y']
paid_review_df.head(5)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,helpful_votes_percent
50483,R6U9701C3BGO6,3.0,139.0,147.0,Y,N,0.945578
50625,R1XK3ALB45D7N4,5.0,33.0,34.0,Y,N,0.970588
50635,R1IZCSTLX81D6C,5.0,31.0,33.0,Y,N,0.939394
50656,R2C8NC8EQLH4JF,3.0,45.0,48.0,Y,N,0.937500
50890,R1JJ1YOJMOML1P,5.0,18.0,21.0,Y,N,0.857143

### 4. Create new dataframe from step 2 where the review was not part of the Vine program (unpaid), vine == 'N'

In [34]:
unpaid_review_df = high_helpful_votes_df.loc[high_helpful_votes_df['vine'] == 'N']
unpaid_review_df.head(5)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,helpful_votes_percent
211,R35PT06NWP7LDP,5.0,30.0,32.0,N,N,0.937500
372,RQW4AFOG9MR4Z,5.0,51.0,52.0,N,N,0.980769
406,R2SMUEBMGLAJQK,5.0,29.0,36.0,N,Y,0.805556
408,R1XVIZZALU5P6J,5.0,148.0,150.0,N,Y,0.986667
419,R11UFMG8M2488I,4.0,23.0,26.0,N,N,0.884615

### 5. Determine the total number of reviews, the number of 5-star reviews, and the percentage of 5-star reviews for the two types of review (paid vs unpaid).

In [35]:
#paid: number of reviews
len(paid_review_df)

33

In [36]:
#paid: number of 5 star reviews
len(paid_review_df[paid_review_df['star_rating'] == 5])

15

In [37]:
#paid: percentage of 5 star reviews
len(paid_review_df[paid_review_df['star_rating'] == 5]) / len(paid_review_df)

0.45454545454545453

In [38]:
#unpaid: number of reviews
len(unpaid_review_df)

45388

In [39]:
#unpaid: number of 5 star reviews
len(unpaid_review_df[unpaid_review_df['star_rating'] == 5])

23733

In [40]:
#unpaid: percentage of 5 star reviews
len(unpaid_review_df[unpaid_review_df['star_rating'] == 5]) / len(unpaid_review_df)

0.5228915131752886